body {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #315d9d;
    margin: 0px;
}

.header-container {
    display: flex;
    flex-grow: 4;
    width: 100%;
    background-color: #1F2B37;
    margin-left: 0px;
    margin-top: 0px;
    background-image: url("http://ec2-18-221-213-107.us-east-2.compute.amazonaws.com/~owenzhang76/personal/caralyst/assets/skyFour.png");
    flex-direction: column;
    justify-content: space-between;
}

.nav-container-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo-container {
    display: flex;
}

.logo {
    display: flex;
    width: 200px;
    height: 80px;
    margin-left: 10px;
}

.nav-container {
    display: flex;
    flex-direction: row;
    width: 250px;
    align-items: center;
    font-size: .85em;
    font-weight: 400;
    letter-spacing: 3px;
    font-weight: 400;
    font-family: arial !important;
    color: #f6f6f6;
    justify-content: space-evenly;
}

.actual-body-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: "Lucida Sans Unicode","Lucida Grande","sans-serif";
    font-size: 1.8em;
    line-height: 1.2em;
    color: rgba(22,22,29,.8);
    flex-flow: column nowrap;
    background-image: linear-gradient(#191f53, #325f9f);;
}

.slogan-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

.slogan {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #f6f6f6;
    align-items: center;
    margin-top: 50px;
    font-size: 35px;
    font-family: arial !important;
    letter-spacing: 3px;
    font-weight: 100;
}

.first-container {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    text-align: center;
    margin-left: -7px;
    background-color: #f6f6f6;
    font-size: 0.9em;
    letter-spacing: 0.5px;
}

.text-center {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}

.second-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-left: -9px;
    font-size: 0.85em;
    letter-spacing: 0.5px;
    color: #f6f6f6;
    /* background-color: #191f53; */
    background-image: linear-gradient(#191f53, #325f9f);
    /* background-image: url("http://ec2-18-221-213-107.us-east-2.compute.amazonaws.com/~owenzhang76/personal/caralyst/assets/skyFour.png"); */
}

.demo-container-1 {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-right: 70px;
}

.prototype-1 {
    /* width: 100%;
    height: 100%; */
    width: 320px;
    flex-shrink: 3;
    margin-left: 20px;
}

.description-1 {
    display: flex;
    align-items: flex-start;
    margin-top: 40px;
    margin-left: 55px;
}

.demo-container-2 {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-right: 70px;
}

.prototype-2 {
    
    width: 360px;
    length: 700px;
    flex-shrink: 3;
    margin-left: 10px;
    margin-right: 10px;
}

.description-2 {
    display: flex;
    align-items: flex-start;
    margin-top: 40px;
    margin-left: 45px;
    margin-right: 20px;
}

.demo-container-3 {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-right: 70px;
}

.prototype-3 {
    width: 375px;
    length: 700px;
    flex-shrink: 3;
    margin-left: 10px;
}

.description-3 {
    align-items: flex-start;
    margin-top: 40px;
    margin-left: 15px;
    margin-right: 20px;
}

.third-container {
    display: flex;
    flex-direction: row;
    flex-grow: 3;
    flex-shrink: 3;
    width: 100%;
    margin-left: 0px;
    font-size: 0.85em;
    letter-spacing: 0.5px;
    background-color: white;
    text-align: center;
    justify-content: space-between;
}

.options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 3;
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
    
    
} 

.interested-message-container {
    display: flex;
    margin-bottom: 90px;
    height: 100px;
    width: 100%;
    justify-content: center;
}

.interested-message {
    margin-left: 0px;
    margin-top: 65px;
}

.inquiry-container {
    display: flex;
    width: 100%;
    /* border: 1px solid black; */
    flex-direction: row;
    justify-content: flex-end;
    /* flex-direction: column;
    margin-left: 0px;
    justify-content: flex-end; */
}

.inquiry-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    margin-top: 30px;
    margin-left: 0px;
    align-items: center;
}

.inquiry-buttons {
    width: 120px;
    height: 50px;
    border: 1px solid #1F2B37;
    font-size: 18px;
    color: #1F2B37;
    background-color: #f6f6f6;
}

.inquiry-buttons:hover {
    outline: none !important;
    background-color: black !important;
    color: #f6f6f6 !important;
    border-color: #f6f6f6 !important;
}

.inquiry-buttons:focus {
    outline: none;
    background-color: black;
    color: #f6f6f6;
    border-color: #f6f6f6;
}

.inquiry-forms-container {
    /* border: 1px solid #191f53; */
    /* width: 400px; */
    width: 90%;
    /* border: 1px solid blue; */
    height: 550px;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    /* align-items: flex-start; */
    /* flex-direction: row;
    justify-content: cr; */
    /* align-items: stretch; */
    /* margin-right: 150px; */
    margin-top: 37px;
    font-size: 15px;
    margin-bottom: 30px;
}

.investor-form-container {
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    align-items: flex-start;
    flex-grow: 3;
    width: 90%;
    margin-bottom: 0px;
}

.investor-form {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-end;
}

.doctor-form {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-end;
}

.patient-form {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-end;
    /* border: 1px solid black; */
    /* justify-content: space-evenly; */
}

input {
    height: 30px;
    width: 200px;
}

input:hover {
    outline: none;
    border-width:0.01em;
    border-color: black;
}

input:focus {
    outline: none;
    border-width:0.01em;
    border-color: black;
}

.form-names-container {
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    width: 100%;
}

.form-div {
    /* display: flex;
    width: 400px;
    flex-direction: row;
    margin-left: 30px;
    margin-bottom: 15px;
    margin-top: 25px; */
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 100%;
    justify-content: flex-end;
    /* border: 1px solid black; */
    /* align-items: center; */
    /* width: 300px; */
    /* align-items: stretch; */
}

.email-div {
    display: flex;
    flex-direction: column;
    width: 85%;
}

.form-div-horizon {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-top: 40px;
    width: 86%;
    /* width: 335px; */
}

.form-div-submit {
    display: flex;
    width: 93%;
    /* width: 400px; */
    flex-direction: column;
    /* border: 1px solid blue; */
    align-items: flex-start;
    justify-content: flex-end;
}

label {
    width: 120px;
    font-family: arial !important;
    display: flex;
    font-weight: 700;
    font-size: 12px;
    justify-content: start;
}

.myass {
    /* width: 300px; */
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 0px;
}

.submit-button {
    width: 93%;
    height: 25px;
    border: 1px solid lightgray;
    /* border-color: lightgray; */
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 15px;
    color: #1F2B37;
    margin-top: 35px;
    margin-right: 0px;
}

.submit-button:hover {
    outline: none;
    background-color: #1F2B37;
    color: #f6f6f6;
    border-color: #f6f6f6;
}

.submit-button:focus {
    outline: none;
}

textarea {
    border-color: lightgray;
}

textarea:hover {
    outline: none;
    border-width:0.01em;
    border-color: black;
}

textarea:focus {
    outline: none;
    border-width:0.01em;
    border-color: black;
}

.social-media-container {
    height: 300px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    padding-top: 30px;
    /* background-color: #191f53; */
}

.fa {
    padding: 15px;
    font-size: 30px;
    width: 19px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin-right: 30px;
    margin-top: 30px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-instagram {
    background: linear-gradient(red, orange);
    color: white;
  }  

a:link {
    color: #f6f6f6;
    text-decoration: none;
}

a:visited {
    color: #f6f6f6;
    text-decoration: none;
}

a:hover {
    color: #f6f6f6;
    text-decoration: none;
}

a:active {
    color: #f6f6f6;
    text-decoration: none;
}

footer {
    display: flex;
    /* background-color: #315d9d; */
    background-color: white;
}


@media only screen and (max-width: 1200px) {
    .inquiry-buttons-container {
        display: flex;
        flex-direction: column;
        flex-shrink: 2;
        justify-content: space-between;
        width: 90%;
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .inquiry-buttons {
        margin-bottom: 30px;
    }

    .prototype-1 {
        display: flex;
        flex-shrink: 3;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
       
    }

}

@media only screen and (max-width: 800px) {
    .slogan {
        display: flex;
        flex-direction: column;
        text-align: center;
        color: #f6f6f6;
        align-items: center;
        margin-top: 20px;
        font-size: 25px;
        font-family: arial !important;
        letter-spacing: 2.8px;
        font-weight: 100;
    }

    .first-container {
        display: flex;
        flex-direction: column;
        flex-grow: 3;
        text-align: center;
        margin-left: -7px;
        background-color: #f6f6f6;
        font-size: 0.7em;
        letter-spacing: 0.4px;
    }
    
    .second-container {
        display: flex;
        flex-grow: 3;
        flex-direction: column;
        /* justify-content: space-between; */
        width: 100%;
        margin-left: 0px;
        font-size: 0.55em;
        letter-spacing: 0.4px;
        color: #f6f6f6;
        /* background-color: #191f53; */
        background-image: linear-gradient(#191f53, #325f9f);
        /* background-image: url("http://ec2-18-221-213-107.us-east-2.compute.amazonaws.com/~owenzhang76/personal/caralyst/assets/skyFour.png"); */
    }

    .demo-container-1 {
        display: flex;
        flex-direction: column-reverse;
        flex-grow: 3;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        justify-content: center;
    }

    .prototype-container-1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .prototype-1 {
        display: flex;
        width: 74%;
        height: 74%;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
       
    }

    .description-1 {
        display: flex;
        text-align: start;
        margin-top: 20px;
        margin-left: 10px;
    }

    .demo-container-2 {
        display: flex;
        flex-direction: column;
        flex-grow: 3;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        justify-content: center;
    }

    .prototype-container-2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .prototype-2 {
        width: 84%;
        height: 84%;
        margin-left: 4px;
        margin-right: 0px;
        margin-top: 0px;
    }

    .description-2 {
        display: flex;
        text-align: start;
        margin-top: 20px;
        margin-left: 10px;
    }

    .demo-container-3 {
        display: flex;
        flex-direction: column-reverse;
        flex-grow: 3;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        justify-content: center;
    }

    .prototype-3 {
        width: 88%;
        height: 88%;
        margin-left: 12px;
        margin-right: 0px;
        margin-top: 0px;
    }

    .prototype-container-3 {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .description-3 {
        display: flex;
        text-align: start;
        margin-top: 20px;
        margin-left: 10px;
    }

    .third-container {
        display: flex;
        flex-direction: column;
        flex-grow: 5;
        width: 100%;
        margin-left: 0px;
        font-size: 0.55em;
        letter-spacing: 0.4px;
        /* background-color: blue; */
        text-align: center;
        justify-content: space-between;
        margin-bottom: 0px;
    }

    .options-container {
        display: flex;
        flex-direction: column;
        flex-grow: 3;
        margin-top: 0px;
        margin-left: 0px;
        /* background-color: blue; */
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .interested-message-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 0px;
        width: 100%;
        text-align: center;
    }

    .interested-message {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 0px;
        margin-left: 5px;
    }

    .inquiry-container {
        display: flex;
        flex-direction: row;
        flex-grow: 3;
        margin-left: 0px;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 0px;
    }

    .inquiry-forms-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid #191f53;
        width: 100%;
        flex-grow: 3;
        flex-shrink: 3;
        margin-right: 0px;
        margin-top: 15px;
        padding-bottom: 40px;
        font-size: 12px;
        margin-bottom: 0px;
    }

    .inquiry-buttons-container {
        display: flex;
        flex-shrink: 2;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .inquiry-buttons {
        width: 70px;
        height: 23px;
        border: 1px solid #1F2B37;
        font-size: 14px;
        color: #1F2B37;
        background-color: #f6f6f6;
    }

    .form-div {
        display: flex;
        width: 100%;
        flex-direction: row;
        margin-left: 10px;
        margin-bottom: 15px;
        margin-top: 25px;
    }

    .form-div-horizon {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        width: 335px;
    }

    .form-div-submit {
        display: flex;
        width: 400px;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
    }

    label {
        width: 100px;
        display: flex;
        justify-content: start;
    }

    .myass {
        width: 90%;
        margin-left: 8px;
    }

    .submit-button {
        width: 90px;
        height: 25px;
        border: 1px solid #1F2B37;
        font-size: 15px;
        color: #1F2B37;
        margin-top: 35px;
        margin-right: 40px;
        margin-bottom: 15px;
    }

    .submit-button:hover {
        outline: none;
        background-color: #1F2B37;
        color: #f6f6f6;
        border-color: #f6f6f6;
    }

    .submit-button:focus {
        outline: none;
    }

    /* textarea-container {
        width: 85%;
    } */

    textarea:hover {
        outline: none;
    }

    textarea:focus {
        outline: none;
    }

    .investor-form-container {
        display: flex;
        /* flex-direction: row;
        justify-content: stretch; */
        flex-direction: column;
        justify-content: space-evenly;
        align-items: stretch;
        flex-grow: 3;
        width: 100%;
        margin-bottom: 0px;
    }

    .doctor-form {
        display: flex;
        flex-direction: column;
        flex-grow: 3;
    }

    body {
        width: 100%;
        overflow-x: hidden;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .actual-body-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        font-family: "Lucida Sans Unicode","Lucida Grande","sans-serif";
        font-size: 1.8em;
        line-height: 1.2em;
        color: rgba(22,22,29,.8);
        overflow-x: hidden;
        margin-left: 0px;
        background-image: linear-gradient(#191f53, #325f9f);
    }

  }