 body {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #315d9d;
}

.header-container {
    display: flex;
    width: 100%;
    height: 180px;
    background-color: #1F2B37;
    margin-left: -8px;
    margin-top: -8px;
    background-image: url("http://ec2-18-221-213-107.us-east-2.compute.amazonaws.com/~owenzhang76/personal/caralyst/assets/skyFour.png");
    flex-direction: row;
    justify-content: space-between;
}

.logo-container {
    display: flex;
}

.logo {
    display: flex;
    width: 200px;
    height: 80px;
    margin-left: 10px;
}

.nav-container {
    display: flex;
    flex-direction: row;
    width: 250px;
    align-items: center;
    font-size: .85em;
    font-weight: 400;
    letter-spacing: 3px;
    font-weight: 400;
    font-family: arial !important;
    color: #f6f6f6;
    justify-content: space-evenly;
}

.actual-body-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: "Lucida Sans Unicode","Lucida Grande","sans-serif";
    font-size: 1.8em;
    line-height: 1.2em;
    color: rgba(22,22,29,.8);
    flex-flow: column nowrap;
    background-image: linear-gradient(#191f53, #325f9f);;
}

.slogan {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #f6f6f6;
    align-items: center;
    margin-top: 50px;
    font-size: 35px;
    font-family: arial !important;
    letter-spacing: 3px;
    font-weight: 100;
}

.first-container {
    display: flex;
    flex-direction: column;
    height: 550px;
    text-align: center;
    margin-left: -7px;
    background-color: #f6f6f6;
    font-size: 0.9em;
    letter-spacing: 0.5px;
}

.text-center {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}

.second-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-left: -9px;
    font-size: 0.85em;
    letter-spacing: 0.5px;
    color: #f6f6f6;
    /* background-color: #191f53; */
    background-image: linear-gradient(#191f53, #325f9f);
    /* background-image: url("http://ec2-18-221-213-107.us-east-2.compute.amazonaws.com/~owenzhang76/personal/caralyst/assets/skyFour.png"); */
}

.demo-container-1 {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-right: 70px;
}

.prototype-1 {
    width: 320px;
    length: 700px;
    margin-left: 20px;
}

.description-1 {
    display: flex;
    align-items: flex-start;
    margin-top: 40px;
    margin-left: 55px;
}

.demo-container-2 {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-right: 70px;
}

.prototype-2 {
    
    width: 360px;
    length: 700px;
    margin-left: 10px;
    margin-right: 10px;
}

.description-2 {
    display: flex;
    align-items: flex-start;
    margin-top: 40px;
    margin-left: 45px;
    margin-right: 20px;
}

.demo-container-3 {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-right: 70px;
}

.prototype-3 {
    width: 375px;
    length: 700px;
    margin-left: 10px;
}

.description-3 {
   
    align-items: flex-start;
    margin-top: 40px;
    margin-left: 15px;
    margin-right: 20px;
}

.third-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 700px;
    margin-left: -7px;
    font-size: 0.85em;
    letter-spacing: 0.5px;
    background-color: #f6f6f6;
    text-align: center;
    justify-content: space-between;
}

.interested-message {
    display: flex;
    margin-left: 50px;
    margin-top: 65px;
}

.inquiry-container {
    display: flex;
    flex-direction: column;
    margin-left: 68px;
    justify-content: space-between;
}

.inquiry-buttons-container {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-top: 60px;
    margin-left: 73px;
}

.inquiry-buttons {
    width: 150px;
    height: 50px;
    border: 1px solid #315d9d;
    font-size: 20px;
    color: #1F2B37;
    background-color: #f6f6f6;
}

.inquiry-buttons:hover {
    outline: none !important;
    background-color: #315d9d !important;
    color: #f6f6f6 !important;
    border-color: #f6f6f6 !important;
}

.inquiry-buttons:focus {
    outline: none;
    background-color: #191f53;
    color: #f6f6f6;
    border-color: #f6f6f6;
}

.inquiry-forms-container {
    border: 1px solid #315d9d;
    width: 400px;
    height: 550px;
    margin-right: 150px;
    margin-top: 70px;
    font-size: 15px;
}

.investor-form {
    display: flex;
    width: 550px;
    flex-direction: column;
}

.doctor-form {
    display: flex;
    width: 550px;
    flex-direction: column;
}

.patient-form {
    display: flex;
    width: 550px;
    flex-direction: column;
}

input {
    height: 30px;
    width: 200px;
}

input:hover {
    outline: none;
}

input:focus {
    outline: none;
}

.form-div {
    display: flex;
    width: 400px;
    flex-direction: row;
    margin-left: 30px;
    margin-bottom: 15px;
    margin-top: 25px;
}

.form-div-horizon {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 335px;
}

.form-div-submit {
    display: flex;
    width: 400px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

label {
    width: 100px;
    display: flex;
    justify-content: start;
}

.myass {
    width: 300px;
    margin-left: 8px;
}

.submit-button {
    width: 90px;
    height: 25px;
    border: 1px solid #1F2B37;
    font-size: 15px;
    color: #1F2B37;
    margin-top: 35px;
    margin-right: 40px;
}

.submit-button:hover {
    outline: none;
    background-color: #1F2B37;
    color: #f6f6f6;
    border-color: #f6f6f6;
}

.submit-button:focus {
    outline: none;
}

textarea:hover {
    outline: none;
}

textarea:focus {
    outline: none;
}

.social-media-container {
    height: 300px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    padding-top: 30px;
    /* background-color: #191f53; */
}

.fa {
    padding: 15px;
    font-size: 30px;
    width: 19px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin-right: 30px;
    margin-top: 30px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-instagram {
    background: linear-gradient(red, orange);
    color: white;
  }  

a:link {
    color: #f6f6f6;
    text-decoration: none;
}

a:visited {
    color: #f6f6f6;
    text-decoration: none;
}

a:hover {
    color: #f6f6f6;
    text-decoration: none;
}

a:active {
    color: #f6f6f6;
    text-decoration: none;
}

footer {
    display: flex;
    background-color: #315d9d;
}